* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0 ;
  padding: 0 ;
  width: 100% ;
  height: 100%;

}


.auth-container{
    background: linear-gradient(to right,#FEAF00,#F8D442);

}
.sidebar-container .ps-sidebar-container{
    background-color: #F2EAE1;
    height: 100vh;
  

}
.sidebar-container .ps-menu-button{
    transition: all 1s;
}
.sidebar-container .ps-menu-button:hover{
    background-color: #FEAF00 !important;
    border-radius: 7px !important;

}
.sidebarcontainer {
  margin: 0 !important;
  padding: 0 !important;
 width: auto;

 background-color: #F2EAE1 !important;
 height: 100vh;
}
.sidebarcontainer  .css-dip3t8{
 background-color: #F2EAE1 !important;
}


